.positive-wrapper {
    background-color: white;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;

    .top-positive-header {
        width:100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .positive-heading {
        margin: 1rem 0 0 0
    }

    .voted-for-category {
        margin: 0;
    }

    .positive-card-scroll-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 400px) {
    .positive-wrapper{
        width:100%;
    }
  }

  