.welcome-wrapper{
    text-align: center;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    width:400px;
    padding: 1rem;
    margin: 0 auto 1rem auto;
    background-color: white;
    box-sizing: border-box;
    min-height: calc(100vh - 1rem);
    /* for bottom gradient */
}
@media only screen and (max-width: 400px) {
    .welcome-wrapper{
        width:100%;
    }
  }