.negative-wrapper {
    background-color: white;
    width: 400px;
    margin: 0 auto 1rem auto;
    padding: 10px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;

    .top-negative-header {
        width:100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .negative-heading {
        margin: 1rem 0 0 0
    }

    .voted-for-category {
        margin: 0;
    }

    .negative-card-scroll-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin:1rem auto;
        flex-wrap: wrap;
       
    }
    .infoSection{
           width:90%;
            text-align: center;
        
    }
}
@media only screen and (max-width: 400px) {
    .negative-wrapper{
        width:100%;
    }
  }

  